html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-main-text: #121723;
  --color-button: #6D31EE;
  --article-color: #292E39;
  --color-light-text: #A1A6B4;
  --color-grey-light: #D2D5DD;
  --color-light: #E6E8EC;
  --color-market-accent: #BB973E;
  --color-market-accent-light: #F0D288;
  --color-error: #D52B1E;
  --color-active: #4F28A5;
  --color-accent: #6D31EE;
  --color-accent-light: #AA9DFA;
  --color-white: #fff;
  --gap: 30px;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular-Italic"), url("../fonts/MullerRegularItalic.woff2") format("woff2"),
    url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.page {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-reset:focus {
  outline: none;
}

.btn {
  padding: 25px 54px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
  background-color: var(--color-accent);
  transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
  outline-color: var(--color-active);
}

.btn:focus {
  outline: 2px solid var(--color-active);
  background-color: var(--color-accent-light); 
}

.btn:hover {
  outline: none;
  background-color: var(--color-accent-light);
}

.btn:active {
  outline: none;
  background-color: var(--color-active);
}

.second-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  max-width: 1310px;
}


/* header */


.header__container {
  padding-top: 34px;
  padding-bottom: 33px;
  display: flex;
  align-items: flex-start
}

.header__link {
  margin-right: 70px;
}

.header__link:focus {
  outline-offset: 5px;
}

.header__logo {
  display: block;
}

.header__nav {
  max-width: 800px;
  margin-right: auto;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 39px;
}

.nav__link {
  padding: 4px 10px;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav__link:focus {
  background-color: var(--color-accent-light);
  color: var(--color-white);
  outline: none;
}

.nav__link:hover {
  background-color: transparent;
  color: var(--color-accent);
}

.nav__link:active {
  color: var(--color-active);
}

.header__icon {
  display: block;
}

.header-icon__stroke {
  stroke: var(--color-accent);
  transition: stroke 0.3s ease-in-out;
}

.header__btn:focus {
  outline: none;
}

.header__btn:focus .header-icon__stroke {
  stroke: var(--color-accent-light);
}

.header__btn:hover .header-icon__stroke {
  stroke: var(--color-accent-light);
}

.header__btn:active .header-icon__stroke {
  stroke: var(--color-active);
}

.header__wrapper-tablet {
  display: none;
  width: 100%;
}


/* hero */

.hero__wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 135px;
  align-items: center;
}

.hero__left {
  padding-top: 88px;
  padding-bottom: 92px;
  max-width: 56%;
}

.hero__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  color: var(--color-main-text);
}

.main-title__text {
  font-style: italic;
  font-weight: normal;
}

.hero__descr {
  margin: 0;
  margin-bottom: 43px;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-main-text);
}

/* podcasts */

.podcasts {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--color-light);
}

.podcasts__list {
  --offsets: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 31px var(--gap);
}

.podcasts__item {
  position: relative;
  display: flex;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  background-color: var(--color-white);
}

.podcasts__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 112px;
  /* height: 140px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.podcasts__item_europe::before {
  background-image: url("../img/podcasts-1.png");
}

.podcasts__item_music::before {
  background-image: url("../img/podcasts-2.png");
}

.podcasts__item_people::before {
  background-image: url("../img/podcasts-3.png");
}

.podcasts__item_africa::before {
  background-image: url("../img/podcasts-4.png");
}

.podcasts__item_about-all::before {
  background-image: url("../img/podcasts-5.png");
}

.podcasts__item_phisics::before {
  background-image: url("../img/podcasts-6.png");
}

.podcasts__item_sound::before {
  background-image: url("../img/podcasts-7.png");
}

.podcasts__item_rules::before {
  background-image: url("../img/podcasts-8.png");
}

.podcasts__date {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 7px;
  width: 52px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  line-height: normal;
  color: var(--color-main-text);
  background-color: var(--color-light);
}

.podcasts-item__inner {
  padding: 37px 30px;
}

.podcasts__timer {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 12px;
  color: var(--color-main-text);
}

.podcasts__name {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.podcasts__autor {
  margin: 0;
  font-size: 16px;
  color: var(--color-light-text);
}

/* broadcast */

.broadcast {
  padding-top: 94px;
  padding-bottom: 95px;
}

.broadcast-container {
  display: flex;
  gap: 36px;
}

.broadcast__left {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.broadcast-left__inner {
  width: 250px;
}

.broadcast-wrapper__inner {
  margin-top: auto;
  width: 250px;
}

.broadcast-wrapper__inner_tablet {
  margin: 0 auto;
  display: none;
}


.broadcast__title {
  margin-bottom: auto;
  padding: 0;
}

.broadcast-left__image {
  margin-bottom: 22px;
  display: block;
}

.broadcast__btn {
  margin-bottom: 10px;
  padding: 10px 54px;
  display: block;
  border-radius: 77px;
  border: 2px solid var(--color-main-text);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-main-text);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.broadcast__btn_mobile {
  display: none;
}

.broadcast__btn:focus {
  border-color: var(--color-accent);
  color: var(--color-white);
  background-color: var(--color-accent-light);
}

.broadcast__btn:hover {
  border-color: var(--color-accent-light);
  color: var(--color-white);
  background-color: var(--color-accent-light);
}

.broadcast__btn:active {
  border-color: var(--color-active);
  color: var(--color-white);
  background-color: var(--color-active);
}

.broadcast-left__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-text);
}

.broadcast-right__image {
  display: block;
}

.broadcast-wrapper__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-text);
}

.broadcast__right {
  padding-top: 15px;
}

.broadcast-right__list {
  --offsets: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 31px 30px;
}

.broadcast-right__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  border: 1px solid var(--color-light);
}

.broadcast-right-item__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 19px 11px 17px;
}

.broadcast-right__descr {
  padding-left: 2px;
  margin-bottom: 18px;
}

.broadcast-right__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-main-text);
}


.broadcast-right__schedule {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-light-text);
}

.broadcast-right__link {
  display: flex;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  margin-top: auto;

  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: var(--color-main-text);
  transition: fill 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.broadcast-right__link:focus {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-accent-light);
}

.broadcast-right__link:focus .broadcast-right__fill {
  fill: var(--color-white);
}

.broadcast-right__link:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
}

.broadcast-right__link:hover .broadcast-right__fill {
  fill: var(--color-accent);
}

.broadcast-right__link:active {
  color: var(--color-active);
  background-color: var(--color-white);
}

.broadcast-right__link:active .broadcast-right__fill {
  fill: var(--color-active);
}

/* guests */

.guests {
  padding-top: 94px;
  padding-bottom: 88px;
  background-color: var(--color-main-text);
}

.guests__title {
  padding-left: 0px;
  margin-bottom: 14px;
  color: var(--color-white);
}

.guests__text {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: var(--color-light-text);
}

.guests__descr {
  margin: 0;
  margin-bottom: 51px;
  max-width: 75%;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-light-text);
}

.guests__list {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.guests__item {
  display: flex;
  gap: var(--gap);
}

.guests-item__inner {
  padding-bottom: 5px;
  max-width: 41%;
  display: flex;
  flex-direction: column;
}

.guests-item__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  color: var(--color-white);
}

.guests-item__descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: var(--color-light-text);
}

.guests-item__btn {
  padding: 9px 18px;
  border-radius: 77px;
  border: 2px solid var(--color-accent-light);
  font-size: 16px;
  font-weight: 500;
  color: var(--color-accent-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.guests-item__btn:focus {
  border-color: var(--color-accent);
  color: var(--color-white);
  background-color: var(--color-accent);
}

.guests-item__btn:hover {
  border-color: var(--color-accent-light);
  color: var(--color-white);
  background-color: var(--color-accent-light);
}

.guests-item__btn:active {
  border-color: var(--color-active);
  color: var(--color-white);
  background-color: var(--color-active);
}

.guests-inner__wrapper {
  margin-top: auto;
}

/* playlists */

.playlists {
  padding-top: 94px;
  padding-bottom: 93px;
}

.playlists__container {
  display: flex;
  gap: 24px;
}

.playlists-item__wrapper {
  position: relative;
}

.playlists__left {
  display: flex;
  flex-direction: column;
  min-width: 32%;
}

.playlists__title {
  margin-bottom: 12px;
  padding: 0;
}

.playlists__descr {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-light-text);
}

.playlists__quote {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 22px;
  color: var(--color-light-text);
}

.playlists__right {
  padding-top: 14px;
}

.playlists-right__list {
  --offsets: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 28px var(--gap);
}

.playlists-right__item {
  position: relative;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  border: 1px solid var(--color-light);
}

.playlists-item__icon_ru {
  position: absolute;
  top: 0;
  right: 0;
}

.playlists-item__icon_en {
  position: absolute;
  top: 0;
  right: 0;
}

.playlists-right__image {
  display: block;
  width: 100%;
  min-width: 112px;
  max-width: 160px;
}

.playlists-right__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.playlists-right__subtitle {
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-main-text);
}

.playlists-right__descr {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-light-text);
}

/* market */

.market {
  padding: 94px 0 132px;
  background-color: var(--article-color);
}

.market__container {
  display: flex;
  gap: 25px;
}

.market__left {
  position: relative;
  max-width: 60%;
}

.market-left__icon {
  position: absolute;
  left: 4px;
  top: 0;
}

.market__right {
  max-width: 40%;
}

.market__title {
  margin-bottom: 22px;
  padding: 0;
  color: var(--color-market-accent-light);
}

.market__title::after {
  content: "";

  display: block;
  width: 100%;
  height: 12px;
  margin-top: 16px; /* Использовал top, потому что при удалении market__title after тоже пропадает*/

  background-image: url("../img/article.svg");
}

.market-right__icon {
  margin-bottom: 17px;
}

.market-right__descr {
  margin: 0;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 180%;
  color: var(--color-white);
}



.market-right__descr:nth-child(3n){
  margin-bottom: 29px;
}

.market-right__price {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  font-weight: 500;
  color: var(--color-white);
}

.market-right__btn {
  padding: 20px 14px;
  border-radius: 100px;
  border: 2px solid var(--color-market-accent-light);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-market-accent-light);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.market-right__btn:focus {
  color: var(--color-main-text);
  background-color: var(--color-market-accent);
}

.market-right__btn:hover {
  color: var(--color-main-text);
  background-color: var(--color-market-accent-light);
}

.market-right__btn:active {
  border-color: var(--color-market-accent);
  color: var(--color-main-text);
  background-color: var(--color-market-accent);
}

/* about-us */

.about-us {
  padding: 94px 0;
  background-color: var(--color-main-text);
}

.about-us__wrapper {
  margin-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
}

.about-us__title {
  margin-bottom: 15px;
  padding-left: 0;
  color: var(--color-white);
}

.about-us__descr {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-light-text);
}

.about-us__descr_strong {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 150%;
}

.about-us__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-us__left::after {
  content: "";
  display: block;
  min-width: 446px;
  height: 292px;

  background-image: url("../img/about-us.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us__right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about-us-wrapper__icon {
  display: none;
}

.about-us__list {
  --offsets: 3;
  margin-bottom: 33px;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.about-us__item {
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
}

.about-us-item__image {
  display: block;
  margin-bottom: 27px;
}

.about-us__subtitle {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-white);
}

.about-us__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-light-text);
}

.feedback__textarea {
  margin-bottom: 25px;
  padding: 30px 32px;
  min-width: 83%;
  min-height: 150px;
  border-radius: 30px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: var(--color-main-text);
  transition: outline 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.feedback__textarea::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-light-text);
}

.feedback__textarea:focus {
  outline: 0.1px solid var(--color-accent-light);
  border-color: var(--color-accent-light);
  background-color: var(--article-color);
}

.feedback__textarea:hover {
  outline: none;
  border-color: var(--color-white);
}

.feedback__textarea:active {
  background-color: var(--color-main-text);
}

.feedback__wrapper {
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.wrapper__label {
  position: relative;
  min-width: 40%;
}

.wrapper__text {
  position: absolute;
  top: 11px;
  left: 33px;
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-error);
}

.feedback__input {
  padding: 25px 33px;
  min-width: 100%;
  border-radius: 40px;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: var(--color-main-text);
  transition: outline 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.feedback__input::placeholder {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-light-text);
}

.feedback__input:invalid {
  border-color: var(--color-error);
}

.feedback__input:invalid+.wrapper__text {
  display: inline;
  border-color: var(--color-error);
}

.feedback__input:focus {
  outline: 0.1px solid var(--color-accent-light);
  border-color: var(--color-accent-light);
  background-color: var(--article-color);
}

.feedback__input:hover {
  outline: none;
  border-color: var(--color-white);
}

.feedback__input:active {
  background-color: var(--color-main-text);
}

.feedback__btn {
  padding: 24px 56px;
  margin-bottom: 28px;
  display: block;
}

.feedback__label {
  user-select: none;
  cursor: pointer;
}

.feedback__checkbox {
  position: absolute;
  appearance: none;
}

.feedback__descr {
  position: relative;
  padding-left: 24px;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-white);
}

.feedback__descr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-white);
  transform: translateY(-50%);
}

.feedback__descr:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
  background-image: url("../img/cheking.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.feedback__checkbox:checked+.feedback__descr::after {
  opacity: 1;
}

.feedback__checkbox:focus + .feedback__descr {
  outline: 2px solid var(--color-accent-light);
  outline-offset: 4px;
}


/* footer */

.footer {
  padding-top: 90px;
  background-color: var(--article-color);
  background-repeat: repeat-x;
  background-position: left bottom 40px;
  background-image: url("../img/footer-line.svg");
}

.footer__wrapper {
  margin-bottom: 97px;
  display: flex;
}

.footer__left {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__image {
  display: block;
  margin: auto;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  max-width: 170px
}

.social__fill {
  transition: fill 0.3s ease-in-out;
}

.social__link {
  display: flex;
}

.social__link:focus {
  outline: none;
}

.social__link:focus .social__fill {
  fill: var(--color-accent-light);
}

.social__link:hover .social__fill {
  fill: var(--color-accent);
}

.social__link:active .social__fill {
  fill: var(--color-active);
}

.footer__right {
  width: 100%;
  max-width: 455px;
}

.footer__right_mobile {
  display: none;
}

.nav__list_footer {
  display: block;
  columns: 3;
  column-gap: 113px;
}

.nav__item_footer {
  margin-bottom: 17px;
}

.nav__link_footer {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.footer__copyright {
  padding-bottom: 10px;
  text-align: center;
}

.copyright__descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 103.336%;
  color: var(--color-light-text);
}
